body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    border: black solid 2px;
}

header {
    height: fit-content;
    border: red solid 1px;
}
main {
    height: fit-content;
    border: blue solid 2px;
}
footer {
    height: fit-content;
    border: red solid 2px;
}