@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,600;0,700;1,500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
.container {
    border: black solid 2px;
}
/*--------------------------------------*/

header {
    height: fit-content;
    border: red solid 1px;
}
header img {
    width: 20px;
}
header .actions {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
header .header-cover {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 300px;
}
header .dark-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 60px;
}
header #dark-mode {
    width: 20px;
}
/*temporary*/
.actions div {
    margin: 5px;
}
header .initial-content {
    display: flex;
    padding: 0px 20px;
}
.initial-content p {
    margin: 10px;
}
.initial-content #title {
    font-size: 16pt;
}
.initial-content #name {
    font-size: 30pt;
    font-weight: bold;
}
/*---------------------------------------*/
main {
    height: fit-content;
    border: blue solid 2px;
}
main .presentation {
    height: fit-content;
    /*border: purple solid ;*/
}
main .knowledge {
    height: fit-content;
    border: black solid 1px;
    display: flex;
    justify-content: space-evenly;
}
main .knowledge .items {
    width: 100px;
    height: 100px;
    /*border: black solid 1px;*/
}
main .knowledge img {
    width: 100px;
}
main .courses {
    height: fit-content;
    border: green solid ;
    padding: 20px;
}
main #projects {
    padding: 20px;
}
main .project1 {
    height: fit-content;
    display: flex;
    gap: 20px;
    margin: 30px 0px;
}
main .project2 {
    height: fit-content;
    border: black;
    display: flex;
    justify-content: end;
    gap: 20px;
}
main .project1 .preview {
    border: black solid 1px;
    border-radius: 10px;
    width: 720px;
    height: 500px;
    min-width: 300px;
    min-height: 200px;
}
main .project2 .preview {
    border: black solid 1px;
    border-radius: 10px;
    width: 720px;
    height: 500px;
    min-width: 300px;
    min-height: 200px;
}
main .youtube-videos {
    display: flex;
    justify-content: space-evenly;
    border: black solid 1px;
    padding: 10px 0px;
}
main .youtube-videos .videos {
    width: 300px;
    height: 200px;
    border: black solid 1px;
    border-radius: 10px;
}
/*---------------------------------------*/
footer {
    height: fit-content;
    border: red solid 2px;
}
footer .info {
    border: black solid 1px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px;
}
footer .social {
    border: blue solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}