body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    border: black solid 2px;
}

header {
    height: fit-content;
    border: red solid 1px;
}
header .actions {
    border: black solid 1px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
/*temporary*/
.actions p {
    border: red solid 1px;
}
main {
    height: fit-content;
    border: blue solid 2px;
}
footer {
    height: fit-content;
    border: red solid 2px;
}